<div class=" content">
    <div class="row" >
      
        <div class=" card" >
            <div class=" card-header">
                <div class="row">
                    <h4 class=" card-title">Liste des réclamations</h4>
                </div>

            </div>
            <div class=" card-body">
              <div class=" table-responsive" style="overflow: auto;">
                <table class=" table tablesorter"  id="" >
                    <thead class=" text-primary" >
                      <tr >
                          <th  >Prénom initiateur</th>
                          <th  >Nom initiateur</th>
                          <th  >Description</th>
                          <th  >Action</th>
                      </tr>
                    </thead>
                   
                    <tbody >
                      <tr class="ligne" *ngFor="let p of myListe" >
                          <td >{{p.prenom}}</td>
                          <td >{{p.nom}}</td>
                          <td >{{p.description}}</td>
                         
                          <td> 
                            <button *ngIf="p.etat == 0" (click)="open(confirmerTraitement);selected = p;"   class="btn btn-fill btn-success" > Traiter</button>
                            <b *ngIf="p.etat == 1" style="color: darkgreen;"  > réclamation traitée</b>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
       
      </div>
</div>



  <ng-template #confirmerTraitement let-modal>
    <div class=" modal-header">
      <h3> confirmation </h3>
  
      <button
        aria-label="Close"
        class=" close"
        data-dismiss="modal"
        type="button"
        (click)="modal.dismiss('Cross click')"
      >
        <i class=" tim-icons icon-simple-remove"> </i>
      </button>
      <div class="row">
        
      </div>
    </div>
    <div class="modal-body">
        <h1> Voulez-vous confirmer la réclamation ? </h1>
      <div  class="form-group" style="margin-left: 3rem; text-align: center;">
        <button  class=" btn btn-fill btn-success" style="margin-top: 3rem;" (click)="validerTraitement();modal.dismiss('Cross click')" >OUI</button>
        <button  class=" btn btn-fill btn-danger" style="margin-top: 3rem;"  (click)="modal.dismiss('Cross click')">NON</button>
      </div>
    </div>
  
  </ng-template>
