
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des clients pro</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Téléphone</th>
                  <th>Adresse</th>
                  <th>Login</th>
                  <th>Nom entreprise</th>
                  <th>OPTION</th>
                </tr>
              </thead>
              <tbody>
              
                <tr *ngFor="let l of listPro" >
                  <td (click)="getLivraisonByLivreur(l.iduser);open(content)"><b style="padding: 5px;cursor: pointer;background: cadetblue;border-radius: 10px;color: white;">{{l.nom}}</b></td>
                  <td>{{l.prenom}}</td>
                  <td>{{l.telephone}}</td>
                  <td>{{l.adresse}}</td>
                  <td>{{l.login}}</td>
                  <td>{{l.nom_entreprise}}</td>
                  <td><button class="btn btn-success" (click)="open(content1);selected = l;" style="margin-left:3px;padding: 10px;"><i class=" tim-icons icon-pencil"> </i></button> <button class="btn btn-danger" style="margin-left:3px;padding: 10px;" (click)="deleteUser(l.iduser)"><i class=" tim-icons icon-simple-remove"> </i></button> </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>


<ng-template #content let-modal >
  <div class="modal-content" style="min-width: 130% !important;margin-left: -10rem;overflow: scroll !important;margin-top:-4rem !important;" >
    <div class=" modal-header">

      <button
        aria-label="Close"
        class=" close"
        data-dismiss="modal"
        type="button"
        (click)="modal.dismiss('Cross click')"
      >
        <i class=" tim-icons icon-simple-remove"> </i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <h1 class=" card-title">HISTORIQUE DU CLIENT PRO</h1>
        </div>
        
      </div><table class=" table tablesorter" id="">
        <thead class=" text-primary" >
          <tr >
            <th   >Date et heure changement état </th>
            <th  >Prénom Nom demandeur</th>
            <th  >Téléphone demandeur</th>
            <th  >Adresse demandeur</th>
            <th  >Désignation</th>
            <th  >Prénom Nom destinataire </th>
            <th  >Téléphone destinataire </th>
            <th  >Adresse destinataire</th>
            <th  >Prénom Nom livreur</th>
            <th  >Téléphone livreur</th>
            <th  >Mode paiement</th>
            <th  >Etat</th>
          </tr>
        </thead>
        <tbody >
          <tr class="ligne"  *ngFor="let selected of listLivraisonByLivreur" >
            <td>{{selected.last_modifield}}</td>
            <td>{{selected.prenomDemandeur}} {{selected.nomDemandeur}}</td>
            <td>{{selected.telephoneDemandeur}}</td>
            <td>{{selected.pointDepart}}</td>
            <td>{{selected.designation}}</td>
            <td>{{selected.prenomDestinataire}} {{selected.nomDestinatair}}</td>
            <td>{{selected.telephoneDestinataire}}</td>
            <td>{{selected.adresselivraison}}</td>
            <td>{{selected.mode_paiement}}</td>
            <td>
              <b *ngIf="selected.Etat == 1 || selected.Etat == 8" style="padding: 0px;cursor: pointer;background: crimson;border-radius: 10px;color: white;">En attente</b>
              <b *ngIf="selected.Etat == 2" style="padding: 0px;cursor: pointer;background: crimson;border-radius: 10px;color: white;">Encours d’enlèvement</b>
              <b *ngIf="selected.Etat == 3" style="padding: 0px;cursor: pointer;background: crimson;border-radius: 10px;color: white;">Encours de livraison</b>
              <b *ngIf="selected.Etat == 9" style="padding: 0px;cursor: pointer;background: crimson;border-radius: 10px;color: white;">Annuler</b>
              <b *ngIf="selected.Etat == 4" style="padding: 0px;cursor: pointer;background: darkgreen;border-radius: 10px;color: white;">Livré</b>
            </td>
          </tr>
         
         
        </tbody>
      </table>
      


    </div>
    
  </div>
  

</ng-template>

<ng-template #content1 let-modal >
  <div class="modal-content" style="min-width: 130% !important;margin-left: -10rem;overflow: scroll !important;margin-top:-4rem !important;" >
    <div class=" modal-header">

      <button
        aria-label="Close"
        class=" close"
        data-dismiss="modal"
        type="button"
        (click)="modal.dismiss('Cross click')"
      >
        <i class=" tim-icons icon-simple-remove"> </i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <h1 class=" card-title">MODIFICATION </h1>
        </div>
        
      </div>
      <form style="min-width: 100%;">

                
        <div class=" row"  style="margin-left: 2rem;margin-right: 2rem;margin-top: 0rem;margin-bottom: 0rem;">

          <div class=" col-md-6 " >
            <div class=" form-group">
              <label style="font-size: 1rem;"> Nom de l'entreprise </label>
              <input
                class=" form-control"
                placeholder="nom_entreprise"
                type="text"
                [(ngModel)]="selected.nom_entreprise"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
        
        </div>
        <div class=" row"  style="margin-left: 2rem;margin-right: 2rem;margin-top: 0rem;margin-bottom: 0rem;">
        
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Prénom </label>
              <input
                class=" form-control"
                placeholder="prenom"
                type="text"
                [(ngModel)]="selected.prenom"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Nom </label>
              <input
                class=" form-control"
                placeholder="Nom"
                type="text"
                [(ngModel)]="selected.nom"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
        </div>
        
        <div class=" row"  style="margin-left: 2rem;margin-right: 2rem;margin-top: 0rem;margin-bottom: 0rem;">
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Adresse </label>
              <input
                class=" form-control"
                placeholder="Adresse"
                type="text"
                [(ngModel)]="selected.adresse"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Téléphone </label>
              <input
                class=" form-control"
                placeholder="telephone"
                type="text"
                [(ngModel)]="selected.telephone"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
        </div>
        
        <div class=" row"  style="margin-left: 2rem;margin-right: 2rem;margin-top: 0rem;margin-bottom: 0rem;">
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Login </label>
              <input
                class=" form-control"
                placeholder="Login"
                type="text"
                [(ngModel)]="selected.login"
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
          <div class=" col-md-6 ">
            <div class=" form-group">
              <label style="font-size: 1rem;"> Password </label>
              <input
                class=" form-control"
                placeholder="Mot de passe sera réinitialisé par (1234)"
                type="password"
                readonly
                [ngModelOptions]="{standalone: true}"
                style="border: 2px solid #222a42;"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12"  style="text-align: center;">
          <button  class=" btn btn-fill btn-success"  (click)="updateUser(selected); modal.dismiss('Cross click');" >Valider</button>
        </div>
       
     
      </form>
      


    </div>
    
  </div>
  

</ng-template>