<div class=" content">
    <div class=" row">
      <div class="col-md-12">
        <div class="row">
          
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let l of datas">
            <div class="card text-center" style="width: 100%;">
              <div class="card-body">
                <h2 class="card-title">{{l.nom}}</h2>
                <p class="card-text">{{ l.description }}</p>
                <a  href="#0"  (click)="this.loader = false;this.success = null;open(content,l.nom);" class="btn btn-primary">{{l.text}}</a>
              </div>
            </div>
          </div>
        </div>

      

          
        <ng-template #content let-modal>
          <div class="modal-content" style="overflow: auto !important; min-width: 100% !important; margin-left: 0rem; overflow: auto !important; margin-top: -12rem !important;" >
            <div class=" modal-header" style="padding: 24px;padding-top: 0; margin-top: 6rem;">
        
              <button
                aria-label="Close"
                class=" close"
                data-dismiss="modal"
                type="button"
                (click)="modal.dismiss('Cross click')"
              >
                <i class=" tim-icons icon-simple-remove"> </i>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <h1 class=" card-title"  style="text-align: center;">{{this.serviceTitre}}</h1>
                </div>
                <div *ngIf="this.loader==false && this.serveForm=='Approvisionnement'" class="col-12" style="text-align: center;">
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Wallet :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.service"
                      [ngModelOptions]="{standalone: true}">
                      <option value="orange money">Orange Money</option>
                      <option value="tigo cash">Tigo Cash</option>
                      <option value="posteCash">PosteCash</option>
                      <option value="e-Money">E-Money</option>
                      <option value="myWary">MyWary</option>
                      <option value="free Money">Free Money</option>
                      <option value="wizall Money">Wizall Money</option>
                  </select>
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Telephone :</label>
                    <input
                      class=" form-control"
                      placeholder="Téléphone"
                      type="text"
                      [(ngModel)]="this.telephone"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Montant :</label>
                    <input
                      class="form-control"
                      placeholder="Montant"
                      type="text"
                      [(ngModel)]="this.montant"
                      [ngModelOptions]="{standalone: true}"
                      
                    />
                  </div>

                  <button
                  class="btn btn-default"
                  type="button"
                  (click)="modal.dismiss('Cross click')"
                  style="margin: 2rem;"
                >
                  Annuler
                </button>

                <button
                class="btn btn-danger"
                type="button"
                style="margin: 2rem;"
              >
                Valider
              </button>

                </div>
                <div *ngIf="this.loader==false && this.serveForm=='Transfert'" class="col-12" style="text-align: center;">
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Wallet :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.walletDepot"
                      [ngModelOptions]="{standalone: true}">
                      <option value="orange money">Orange Money</option>
                      <option value="tigo cash">Tigo Cash</option>
                      <option value="posteCash">PosteCash</option>
                      <option value="e-Money">E-Money</option>
                      <option value="myWary">MyWary</option>
                      <option value="free Money">Free Money</option>
                      <option value="wizall Money">Wizall Money</option>
                  </select>
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Telephone :</label>
                    <input
                      class=" form-control"
                      placeholder="Téléphone"
                      type="text"
                      [(ngModel)]="this.numeroDepot"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Montant :</label>
                    <input
                      class="form-control"
                      placeholder="Montant"
                      type="text"
                      [(ngModel)]="this.montantDepot"
                      [ngModelOptions]="{standalone: true}"
                      
                    />
                  </div>
                  <button
                      class="btn btn-default"
                      type="button"
                      (click)="modal.dismiss('Cross click')"
                      style="margin: 2rem;"
                    >
                      Annuler
                  </button>

                  <button
                    class="btn btn-danger"
                    type="button"
                    style="margin: 2rem;"
                    (click)="this.loader=true; depot();"
                  >
                    Valider
                  </button>
                </div>

                <div *ngIf="this.loader==false && this.serveForm=='Paiement Facture'" class="col-12" style="text-align: center;">
                  <div class="row">
                    <div class="col-6">
                      <input (click)="checkedRadioPrepaye($event)" [(ngModal)]="prepaye" style="float: right;width: 100%;" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    </div>
                    <div class="col-6">
                      <label class="form-check-label" for="exampleRadios1" style="float: left;">
                        prépayé
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input (click)="checkedRadioPaiementFacture($event)" [(ngModal)]="paiementFacture" style="float: right;width: 100%;" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    </div>
                    <div class="col-6">
                      <label class="form-check-label" for="exampleRadios1" style="float: left;">
                        paiement facture
                      </label>
                    </div>
                  </div>

                  <div class=" form-group">
                    <label style="font-size: 1rem;">Facture :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.service"
                      [ngModelOptions]="{standalone: true}">
                      <option value="1" *ngIf="this.prepaye==true">WOYOFAL</option>
                      <option value="1" *ngIf="this.prepaye==true">Oolu Solar</option>
                      <option value="2" *ngIf="this.paiementFacture==true">Senelec</option>
                  </select>
                  </div>
                  <div class=" form-group" *ngIf="this.prepaye==true">
                    <label style="font-size: 1rem;">Numéro Conteur:</label>
                    <input
                      class=" form-control"
                      placeholder="Conteur"
                      type="text"
                      [(ngModel)]="this.conteur"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group" *ngIf="this.paiementFacture==true">
                    <label style="font-size: 1rem;">Référence:</label>
                    <input
                      class=" form-control"
                      placeholder="Référence"
                      type="text"
                      [(ngModel)]="this.referenceFacture"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Montant :</label>
                    <input
                      class="form-control"
                      placeholder="Montant"
                      type="text"
                      [(ngModel)]="this.montant"
                      [ngModelOptions]="{standalone: true}"
                      
                    />
                  </div>
                  <button
                      class="btn btn-default"
                      type="button"
                      (click)="modal.dismiss('Cross click')"
                      style="margin: 2rem;"
                    >
                      Annuler
                  </button>

                  <button
                    class="btn btn-danger"
                    type="button"
                    style="margin: 2rem;"
                  >
                    Valider
                  </button>
                </div>

                <div *ngIf="this.loader==false && this.serveForm=='Recharge Bancaire'" class="col-12" style="text-align: center;">
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Banque :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.service"
                      [ngModelOptions]="{standalone: true}">
                      <option value="1">Banque Africaine de Développement (BAD)</option>
                      <option value="2">Banque de l'Habitat du Sénégal (BHS)</option>
                      <option value="3">Banque Internationale pour le Commerce et l'Industrie au Sénégal (BICIS)</option>
                      <option value="4">Banque des Institutions Mutualistes d'Afrique de l'Ouest (BIMAO)</option>
                      <option value="5">Banque Islamique du Sénégal (BIS)</option>
                      <option value="6">Bank Ouest Africaine de Développement (BOAD)</option>
                      <option value="7">Banque Sénégalo-Tunisienne (BST)</option>
                      <option value="7">Banque Régionale de Solidarité (BRS)</option>
                      <option value="7">Banque Sahelo Saharienne pour l'Investissement et le Commerce (BSIC)</option>
                      <option value="7">Caisse Nationale de Crédit Agricole du Sénégal (CNCAS)</option>
                      <option value="7">Citibank Sénégal</option>
                      <option value="7">Compagnie Bancaire de l'Afrique Occidentale (CBAO)</option>
                      <option value="7">Crédit Lyonnais Sénégal (CLS)</option>
                      <option value="7">Ecobank Senegal</option>
                      <option value="7">Société Général de Banque au Sénégal (SGBS)</option>
                  </select>
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Compte:</label>
                    <input
                      class=" form-control"
                      placeholder="Numéro du compte"
                      type="text"
                      [(ngModel)]="this.numCompte"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Montant :</label>
                    <input
                      class="form-control"
                      placeholder="Montant"
                      type="text"
                      [(ngModel)]="this.montant"
                      [ngModelOptions]="{standalone: true}"
                      
                    />
                  </div>
                  <button
                      class="btn btn-default"
                      type="button"
                      (click)="modal.dismiss('Cross click')"
                      style="margin: 2rem;"
                    >
                      Annuler
                  </button>

                  <button
                    class="btn btn-danger"
                    type="button"
                    style="margin: 2rem;"
                  >
                    Valider
                  </button>
                </div>


                <div *ngIf="this.loader==false && this.serveForm=='Abonement Tv'" class="col-12" style="text-align: center;">
                  <div class=" form-group">
                    <label style="font-size: 1rem;">TV :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.service"
                      [ngModelOptions]="{standalone: true}">
                      <option value="1">TNT</option>
                      <option value="2">CANAL</option>
                  </select>
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Numéro/code:</label>
                    <input
                      class=" form-control"
                      placeholder="Numéro"
                      type="text"
                      [(ngModel)]="this.numCompte"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Type :</label>
                    <select
                          class=" form-control"
                          [(ngModel)]="this.service"
                          [ngModelOptions]="{standalone: true}">
                          <option value="1">Maana</option>
                    </select>
                 </div>
                  <div class=" form-group">
                    <label style="font-size: 1rem;">Montant :</label>
                    <input
                      class="form-control"
                      placeholder="Montant"
                      type="text"
                      [(ngModel)]="this.montant"
                      [ngModelOptions]="{standalone: true}"
                      
                    />
                  </div>
                  <button
                      class="btn btn-default"
                      type="button"
                      (click)="modal.dismiss('Cross click')"
                      style="margin: 2rem;"
                    >
                      Annuler
                  </button>

                  <button
                    class="btn btn-danger"
                    type="button"
                    style="margin: 2rem;"
                  >
                    Valider
                  </button>
                </div>
                
                <div *ngIf="this.loader==false && this.serveForm=='Assurance'" class="col-12" style="text-align: center;">
                  <div class="row" *ngIf="this.suivantVarAssurance=='1'">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Acte </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.acte"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="orange money">affaire nouvelle</option>
                            <option value="tigo cash">renouveler</option>
                            <option value="posteCash">PosteCash</option>
                        </select>
                      </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Durée :</legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.dateEffet"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Durée </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.duree"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Puissance/Cylindre (Nombre de cheveaux) </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.puissance"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Nombre de place :</legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.nbrPlace"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Imatriculation </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.imatriculation"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Categorie de véhicule </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.acte"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="véhicule particulier">véhicule particulier</option>
                            <option value="deux roue">deux roue</option>
                            <option value="posteCash">camion</option>
                          </select>
                        </fieldset>
                        
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                            <legend>Valeur Vénal </legend>
                          <input
                            class=" form-control"
                            type="number"
                            [(ngModel)]="this.valeurVenal"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Assistance judiciaire et recours </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.acte"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="0">0</option>
                            <option value="500000">500 000</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Avance de font pour récupérace </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.avanceDeFont"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="0">0</option>
                            <option value="500000">500 000</option>
                            <option value="1000000">1 000 000</option>
                            <option value="2000000">2 000 000</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Marque du Véhicule </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.marque"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value=""></option>
                          </select>
                        </fieldset>
                      </div>
                    </div>


                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Modéle du Véhicule </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.model"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value=""></option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <button
                      class="btn btn-danger"
                      type="button"
                      style="margin: 2rem;"
                      (click)="suivantAssurance()">
                        Suivant
                      </button>
                    </div>
                  </div>
                  <div class="row" *ngIf="this.suivantVarAssurance=='2'">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Nom et Prénom </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.nom"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                      </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Adresse :</legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.adresse"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="form-group">
                        <fieldset>
                          <legend>Ville </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.ville"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">

                          </select>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Activité </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.activite"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="administration publique">Administration publique</option>
                            <option value="administration privé">Administration privé</option>
                            <option value="Proféssion libéral">Proféssion libéral</option>
                            <option value="Nom identifié">Nom identifié</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Téléphone </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.telephone"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Currier </legend>
                          <input
                            class=" form-control"
                            type="text"
                            [(ngModel)]="this.currier"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;"
                          
                          />
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div class="form-group">
                        <fieldset>
                          <legend>Métier </legend>
                          <select
                            class=" form-control"
                            [(ngModel)]="this.metier"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <option value="consultant">Consultant</option>
                            <option value="directeur">Directeur</option>
                            <option value="ingénieur">Avocal</option>
                            <option value="Nom identifié">Ingénieur</option>
                            <option value="fonctionnaire">Fonctionnaire</option>
                            <option value="enployé du privé">Enployé du privé</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <button
                      class="btn btn-default"
                      type="button"
                      style="margin: 2rem;"
                      (click)="retourAssurance()">
                        Retour
                      </button>
                      <button
                      class="btn btn-danger"
                      type="button"
                      style="margin: 2rem;"
                      >
                        Valider
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-12" *ngIf="this.loader==true" style="text-align: center;">
                  <div class="loader" style="text-align: center;margin-left: 45%;"></div>      
                </div>
      
                <div class="col-12" *ngIf="this.success==true" style="text-align: center;">
                  <div class="dummy-positioning d-flex">
        
                    <div class="success-icon">
                      <div class="success-icon__tip"></div>
                      <div class="success-icon__long"></div>
                    </div>
                    
                  </div>    
                  <button  class=" btn btn-fill btn-default" (click)="this.success=null; modal.dismiss('Cross click')" type="button" (keyup.enter)="login()">Fermer</button>
                </div>
                <div class="col-12" *ngIf="this.success==false" style="text-align: center;">
                  <div class="form-group">
                    <label style="font-size: 1rem;">Wallet :</label>
                    <select
                      class=" form-control"
                      [(ngModel)]="this.walletDepot"
                      [ngModelOptions]="{standalone: true}">
                      <option value="orange money">Orange Money</option>
                      <option value="tigo cash">Tigo Cash</option>
                      <option value="posteCash">PosteCash</option>
                      <option value="e-Money">E-Money</option>
                      <option value="myWary">MyWary</option>
                      <option value="free Money">Free Money</option>
                      <option value="wizall Money">Wizall Money</option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label style="font-size: 1rem;">Telephone :</label>
                    <input
                      class=" form-control"
                      placeholder="Téléphone"
                      type="text"
                      [(ngModel)]="this.numeroDepot"
                      [ngModelOptions]="{standalone: true}"
                     
                    />
                  </div>
                  <button  class=" btn btn-fill btn-default" (click)="this.success=null; modal.dismiss('Cross click')" type="button" (keyup.enter)="login()">Fermer</button>
                </div>
                
              </div>
            </div>
            
          </div>
          
        
        </ng-template>
  
      </div>
    </div>

  </div>