<div class=" content">
    <div class=" row">
      <div class="col-md-12">
        <div class="row">
          
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let l of datas">
            <div class="card text-center" style="width: 100%;">
              <div class="card-body">
                <h2 class="card-title">{{l.nom}}</h2>
                <p class="card-text">{{ l.description }}</p>
                <a href="#0" class="btn btn-primary">{{l.text}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>