<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <div class="row">
        
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total PAR MOIS</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">pensionnaire payées</span>
              </p>
              <!-- <p>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input" style="margin-top: 5%;">
              </p> -->
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total PAR INTERVAL DE DATES</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">pensionnaire payées</span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total PAR ANNEE</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">pensionnaire payées</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          
        </div>
        <div class=" card-body">
          <div class="form-group row">
            <label for="example-date-input" class="col-1 col-form-label">De :</label>
            <div class="col-4">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
            <label for="example-date-input" class="col-1 col-form-label">A :</label>
            <div class="col-4">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>

            <button class="btn btn-success"  style="margin-left:5px;margin-bottom: 4px;padding: 9px;margin-top: 0px !important;">Valider</button>
          </div>

            <div class=" table-responsive" style="overflow: auto !important;">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th><input class="form-check-input" type="checkbox"></th>
                    <th>Pensionnaire</th>
                    <th>Montant</th>
                    <th>Téléphone</th>
                    <th>Date Opération</th>
                    <th>OPTION</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let l of datas | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><input class="form-check-input" type="checkbox"></td>
                    <td  (click)="getLivraisonByLivreur(l.iduser);open(content)"><b style="padding: 5px;cursor: pointer;background: cadetblue;border-radius: 10px;color: white;">{{l.prenom}} {{l.nom}}</b></td>
                    <td>{{l.montant}}</td>
                    <td>{{l.tel}}</td>
                    <td>{{l.date}}</td>
                    <td><button class="btn btn-success" (click)="open(content1);selected = l;" style="margin-left:3px;padding: 10px;">...</button>  </td>
                  </tr>
                </tbody>
              </table>
              <div class="list">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>  
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>