<div class=" content">
  <div class=" row">
    <div class="col-md-12">
      <div class="row">
        
        <div class="col-lg-12 col-md-12 col-sm-12">
          
          <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">

              <dl>
                <dt>
                  Évolution
                </dt>
                <div style="min-height: 100%;" *ngFor="let item of GoptimusBarCharts">
                  <dd class="percentage percentage-{{item.percentage}}"><span class="text">{{item.name}}</span></dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
        </div>
        <div class=" card-body">
          <div class="form-group row">
            <label for="example-date-input" class="col-1 col-form-label">De :</label>
            <div class="col-4">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input"  [(ngModel)]="this.dateDebut">
            </div>
            <label for="example-date-input" class="col-1 col-form-label">A :</label>
            <div class="col-4">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input"  [(ngModel)]="this.dateFin">
            </div>

            <button (click)="this.validerrechercherInterval()" class="btn btn-success"  style="margin-left:5px;margin-bottom: 4px;padding: 9px;margin-top: 0px !important;">Valider</button>
          </div>

            <div class=" table-responsive" style="overflow: auto !important;">
             
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Pensionnaire</th>
                    <th>Montant</th>
                    <th>Téléphone</th>
                    <th>Date Opération</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let l of datas | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><b style="padding: 5px;cursor: pointer;background: cadetblue;border-radius: 10px;color: white;">{{l.prenom}} {{l.nom}}</b></td>
                    <td>{{l.montant}}</td>
                    <td>{{l.tel}}</td>
                    <td>{{l.date}}</td>

                  </tr>
                </tbody>
              </table>
              <div class="list">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>  
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>